<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ css_url }}" />
  </head>
  <body>
    {% include 'header' %}

    <main class="main-content">
      {% include 'content' %}
    </main>

    {% include 'footer' %}
  </body>
</html>
